html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.icon:hover {
  background-color: rgba(255, 255, 255, 0.219);
}
